.Signup-container {
  box-sizing: border-box;
  padding: 5%;
}
.btn-google {
  width: 50%;
}
.login-link {
  display: block;
  text-align: start;
  padding: 5px 0 0px 0px;
  font-size: 13px;
  color: white;
}
.create-account {
  padding-top: 10px;
  color: white;
}
.login {
  font-weight: 800;
  text-decoration: underline;
  color: skyblue;
}
.login:hover {
  cursor: pointer;
  color: white;
}
.reg-form-container {
  background: #157cfa;
  border-radius: 10px 0 0 10px;
  height: 100%;
}
.reg-email-label,
.reg-password-label,
.reg-firstName-label,
.reg-lastName-label,
.reg-gender-label {
  display: block;
  text-align: start;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 500;
  color: white;
}
form {
  padding: 0 10% 5% 10%;
}
.flexboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flexbox-item {
  flex: 0 1 50%;
}
.btn-create-account {
  width: 50%;
  background: #157cfa;
}
.right-container {
  padding: 5% 10% 10% 10%;
  align-content: center;
  background: whitesmoke;
  height: 100%;
  border-radius: 0px 10px 10px 0;
}
.logo {
  width: 30%;
  padding-bottom: 5%;
}
#card {
  background-color: lightblue;
}

@media (max-width: 800px) {
  .flexboxContainer {
    flex-direction: column;
    column-gap: 0;
  }
  .flexbox-item {
    flex: auto;
  }
  .form-container {
    border-radius: 10px 10px 0 0;
  }
  .right-container {
    border-radius: 0 0 10px 10px;
  }
}
