.login-container {
  box-sizing: border-box;
  padding: 5%;
}
.btn-google {
  width: 50%;
}
.sign-up-link {
  display: block;
  text-align: start;
  padding: 5px 0 0px 0px;
  font-size: 13px;
  color: white;
}
.Login {
  padding-top: 10px;
  color: white;
}
.sign-up {
  font-weight: 800;
  text-decoration: underline;
  color: skyblue;
}
.sign-up:hover {
  cursor: pointer;
  color: white;
}
.form-container {
  background: #157cfa;
  border-radius: 10px 0 0 10px;
  height: 100%;
}
.email-label,
.password-label {
  display: block;
  text-align: start;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 500;
  color: white;
}
form {
  padding: 0 10% 5% 10%;
}
.flexboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flexbox-item {
  flex: 0 1 50%;
}
.btn-login {
  width: 50%;
  background: #157cfa;
}
.right-container {
  padding: 5% 10% 10% 10%;
  align-content: center;
  background: whitesmoke;
  height: 100%;
  border-radius: 0px 10px 10px 0;
}
.logo {
  width: 30%;
  padding-bottom: 5%;
}
#card {
  background-color: lightblue;
}
.divider {
  color: white;
  display: block;
}
.or-label {
  padding: 0px 10px 0px 10px;
}
.divider > .hr-start,
.hr-end {
  margin-bottom: 5px;
}
.hr-start,
.hr-end {
  border: 1px solid wheat;
  width: 200px;
}

@media (max-width: 800px) {
  .flexboxContainer {
    flex-direction: column;
    column-gap: 0;
  }
  .flexbox-item {
    flex: auto;
  }
  .form-container {
    border-radius: 10px 10px 0 0;
  }
  .right-container {
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 627px) {
  .hr-start,
  .hr-end {
    width: 100px;
  }
}
@media (max-width: 1120px) {
  .hr-start,
  .hr-end {
    width: 150px;
  }
}
@media (max-width: 895px) {
  .hr-start,
  .hr-end {
    width: 130px;
  }
}
@media (max-width: 470px) {
  .hr-start,
  .hr-end {
    width: 50px;
  }
}
