.record-video-modal {
  position: absolute;
  right: 0;
  top: 0;
}
.user-image-video-Container {
  width: 180px;
  margin-right: 0;
  padding-right: 0;
}
.button-container {
  right: 180px;
  bottom: 0;
  justify-content: center;
}
.user-image-avatar {
  width: 100%;
  border: 3px solid lightgrey;
  border-radius: 50%;
}
.user-video {
  width: 100%;
  border: 3px solid lightgrey;
  border-radius: 50%;
}

.floating-Controls {
  display: flex;
  float: right;
  right: 0;
  bottom: 0;
}
.duration-container {
  width: 65px;
  height: 35px;
  background-color: lightgrey;
  text-align: center;
  display: absolute;
  float: right;
  margin-top: 13px;
  padding-top: 5px;
}
