.card-title-transcription {
  margin-bottom: 2rem;
  background: lightblue;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-container {
  align-items: center;
  height: 30rem;
  margin-top: 2rem;
}
.upload-file-container {
  justify-content: center;
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 3px 3px lightgrey;
  cursor: pointer;
}
.upload-file-container:hover {
  background-color: lightgrey;
}
