.local-drive,
.work-space-drive {
  padding-top: 2rem;
  width: 10rem;
  height: 8rem;
  text-align: center;
  box-shadow: 3px 3px 3px 3px lightgrey;
  cursor: pointer;
}
.local-drive:hover,
.work-space-drive:hover {
  background-color: lightgrey;
}
