.workspace-drive-videos {
  width: 10rem;
  height: 12rem;
  box-shadow: 3px 3px 3px 3px lightgrey;
  cursor: pointer;
}
.workspace-drive-videos:hover {
  background-color: lightgrey;
}
.title {
  font-size: 12px;
  background-color: transparent;
  padding-top: 0;
  margin-top: 0;
}
.h5-no-video {
  color: lightgray;
}
