.paper-table-container {
  max-height: 550px;
}
.data-row-header {
  cursor: pointer;
}

@media (max-width: 420px) {
  .card-table-body {
    width: fit-content;
  }
  .paper-table-container {
    width: fit-content;
  }
  .project-table-container {
    max-height: 450px;
  }
  .card-title-flexbox {
    flex-direction: column;
  }
  .card-title-flexbox-item-title {
    flex-shrink: 1;
  }
}
